.create_post{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    
}
.create_post>button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    transition: 1s;
}

.create_post>button:hover{

    background-color: aqua;
}
.textarea_create{
    width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 20px rgba(100, 81, 81, 0.16);
  margin: 20px;
  height:150px;
}