.nav{
    margin-right:20px;
}

.item{
    width: 121px;
    display: flex;
    -webkit-font-smoothing:subpixel-antialiased;
    text-decoration: none;
    align-items: center;
    line-height: 2.308;
    font-weight: 400;
    font-size: 13px;
    color:#000;
    /* TODO:Поменять на VK Sans */
    font-family: var(--palette-vk-font,-apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",arial,Tahoma,verdana,sans-serif)

}

.item:hover{
    background-color: #E5E7EB;
}

.svg{
padding-right: 10px;
color:#5181B8;
}
.active{
    text-decoration: none;
    display: flex;
    font-family: var(--palette-vk-font,-apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",arial,Tahoma,verdana,sans-serif);
    align-items: center;
    line-height: 2.308;
    font-weight: 400;
    font-size: 13px;
    color:#000;
}
.active:hover{
        background-color: #E5E7EB;
}

.line{
    margin-top: 5px;
    border-bottom: 1px solid #DCE1E6;
}