.nav{
    min-width: 135px;
    display: flex;
    flex-grow: 0.1;
    border-right: 1px solid black;
}
.nav>ul{
    text-decoration: none;
    list-style-type: none;
    margin:0 auto;
    padding: 0;
    width: 60%;
}

.nav>ul>li{
    margin-top: 10px;
    border:1px solid black;
    border-radius: 40px;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    transition: 1s;
    width: 100%;

}

.nav>ul>li:hover{
    background-color: aqua;
    box-shadow: 1px 1px 5px aqua;
}
.nav>ul>li>a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

