.nav{
    margin-right:20px;
}

.item{
    display: flex;
    text-decoration: none;
    align-items: center;
    line-height: 2.308;
    font-weight: 400;
    font-size: 13px;
    color:#000;
    /* TODO:Поменять на VK Sans */
    font-family: sans-serif;

}

.item:hover{
    background-color: #E5E7EB;
}

.svg{
padding-right: 10px;
color:#5181B8;
}
.active{
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 2.308;
    font-weight: 400;
    font-size: 13px;
    color:#000;
}
.active:hover{
        background-color: #E5E7EB;
}

.line{
    margin-top: 5px;
    border-bottom: 1px solid #DCE1E6;
}