.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top:60px;

  justify-content: space-around;
}
.content{
  margin-left: 200px;
  display: flex;
  flex-direction: row;
}
.Navbar{
  left:0;
  position: fixed;
  margin-left: 140px;
  flex-grow: 0; flex-shrink:0;
}
.Wrapper{
  display: flex;
  flex-direction: column;

}